@font-face {
  font-family: 'Lato';
  src: url('../webfonts/fonts/Lato/Lato-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../webfonts/fonts/Lato/Lato-Light.ttf');
  font-style: normal;
  font-weight: lighter;
}

@font-face {
  font-family: 'Lato';
  src: url('../webfonts/fonts/Lato/Lato-Bold.ttf');
  font-weight: bold;
}