@font-face {
	font-family: "Lato";
	src: url("../webfonts/fonts/Lato/Lato-Regular.ttf");
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../webfonts/fonts/Lato/Lato-Light.ttf");
	font-style: normal;
	font-weight: lighter;
}
@font-face {
	font-family: "Lato";
	src: url("../webfonts/fonts/Lato/Lato-Bold.ttf");
	font-weight: bold;
}
html,
body {
	overflow-x: hidden;
}
body {
	font-family: "Lato";
	font-size: 16px;
	line-height: 28px;
	width: 100%;
}
.navbar-shop .navbar-right li a {
	padding-top: 8px;
	padding-bottom: 8px;
}
.hirarki_kategori ul {
	padding-left: 0px;
	list-style: none;
}
.hirarki_kategori ul ul {
	padding-left: 0px;
}
.hirarki_kategori ul ul ul {
	padding-left: 15px;
}
.hirarki_kategori ul ul li:before {
	content: "- ";
}
.hirarki_kategori ul li {
	line-height: 30px;
	text-transform: capitalize;
}
.hirarki_kategori ul li a {
	color: #000000;
}
.hirarki_kategori ul li a span {
	position: relative;
}
.hirarki_kategori ul li a span:before {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #999;
	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	-ms-transform: scaleX(0);
	-o-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: right;
	transform-origin: right;
	transition: background 0.6s ease,
		-webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
	transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1),
		background 0.6s ease;
	transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1),
		background 0.6s ease, -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
.hirarki_kategori ul li a:hover {
	color: #999;
}
.hirarki_kategori ul li a:hover span:before {
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transform-origin: left;
	transform-origin: left;
}
.navbar-brand > img {
	width: auto;
	height: 50px;
}
.navbar-shop .navbar-nav {
	margin-top: 15px;
}
.free-shipping {
	font-family: "Lato";
	padding: 20px;
	margin-bottom: 10px;
}
.icon-inline {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	top: 5px;
}
.icon-inline.icon-shipping {
	background-image: url("../image/logo/delivery-man.png");
}
.title-border-dashed {
	margin: 0px;
	text-align: center;
	border: 1px dashed #f0f0f0;
	padding: 20px;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 1.5px;
	margin-bottom: 15px;
}
.w-100 {
	width: 100%;
}
.row_sm {
	margin-right: -7.5px;
	margin-left: -7.5px;
}
.col_sm {
	padding-left: 7.5px;
	padding-right: 7.5px;
}
.row_md {
	margin-right: -10px;
	margin-left: -10px;
}
.col_md {
	padding-left: 10px;
	padding-right: 10px;
}
.best_offer .offer_top {
	margin-bottom: 15px;
}
.p-0 {
	padding: 0px;
}
.item_carousel .owl-prev,
.item_carousel .owl-next,
.item_carousel_2 .owl-prev,
.item_carousel_2 .owl-next {
	margin-top: -100px;
}
.item_carousel .owl-dots,
.item_carousel_2 .owl-dots {
	position: absolute;
	right: 0;
	top: -51px;
	bottom: unset;
	left: unset;
	transform: translateX(unset);
	text-align: left;
}
.red {
	color: red !important;
}
.best_offer {
	margin-bottom: 15px;
}
.ivideo {
	width: 100%;
	height: 362px !important;
	left: 0;
}
.fit-right {
	width: fit-content;
	width: -moz-fit-content;
	margin-left: auto;
}
.product_name {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.owl-item .box-item a {
	color: inherit;
}
.page-side-box h3 {
	margin-top: 0px;
	line-height: 25px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
	font-weight: bold;
	font-size: 26px;
	margin-bottom: 30px;
}
.d-block {
	display: block;
}
#footer.ig-feed {
	margin-top: 0px;
}
#footer .footer-main {
	padding-top: 30px;
	padding-bottom: 30px;
}
.tracking-detail {
	list-style: none;
	padding-left: 0px !important;
}
.tracking-detail li {
	position: relative;
	padding-left: 30px;
}
.tracking-detail li:before,
.tracking-detail li:after {
	content: "";
	position: absolute;
}
.tracking-detail li:before {
	width: 10px;
	height: 10px;
	top: 10px;
	left: 0;
	background: #000000;
	border-radius: 50%;
	z-index: 2;
}
.tracking-detail li:after {
	height: calc(100% + 15px);
	width: 2px;
	left: 4px;
	top: 10px;
	background: red;
	z-index: -1;
}
.tracking-detail li span {
	font-size: 13px;
	float: right;
}
.tracking-detail li .desc {
	margin-top: 10px;
	margin-bottom: 15px;
}
#instafeed .item {
	position: relative;
}
#instafeed .item:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}
#instafeed .item img {
	display: block;
	width: 100%;
	object-fit: cover;
	-moz-object-fit: cover;
	height: 100%;
	position: absolute;
}
.spacer {
	padding: 80px 0px;
}
.spacer .top {
	padding-top: 80px;
	padding-bottom: 40px;
}
.spacer .mid {
	padding: 40px 0px;
}
.spacer .bot {
	padding-top: 40px;
	padding-bottom: 80px;
}
.p-0 {
	padding: 0px !important;
}
.pt-0 {
	padding-top: 0px !important;
}
.pb-0 {
	padding-bottom: 0px !important;
}
.mt-0 {
	margin-top: 0px !important;
}
.mb-0 {
	margin-bottom: 0px !important;
}
.mt-5 {
	margin-top: 5rem !important;
}
.btn-def {
	display: unset;
	padding: 8px 20px;
	width: auto;
}
#ootdkamnco {
	padding-top: 50px;
	padding-bottom: 50px;
}
#ootdkamnco .item {
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}
#ootdkamnco .item:before {
	content: "";
	display: block;
	padding-bottom: 100%;
}
#ootdkamnco .item .inner-image {
	position: absolute;
	width: 100%;
	top: 0;
	background-position: center center;
	background-size: cover;
	display: block;
	height: 100%;
	transition: transform 0.5s ease-in-out;
	left: 0;
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
}
#ootdkamnco .item:hover .inner-image {
	-webkit-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	-o-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
}
.relative {
	position: relative;
}
#carousel-detail-item {
	padding-left: calc(8% + 15px);
}
#carousel-detail-item .video-wrapper {
	position: relative;
}
#carousel-detail-item .video-wrapper img {
	visibility: hidden;
	display: block;
}
#carousel-detail-item .video-wrapper iframe {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#carousel-detail-item .carousel-indicators {
	width: 8%;
	left: 0;
	margin-left: 0px;
	top: 0;
	height: 100%;
	margin: 0px;
}
#carousel-detail-item .carousel-indicators li,
#carousel-detail-item .carousel-indicators li.active {
	width: 100%;
	height: auto;
	border-radius: 0px;
	border: unset;
	display: inline-block;
	margin: 0px;
	text-indent: 0px;
	margin-bottom: 15px;
}
#carousel-detail-item .carousel-indicators li img,
#carousel-detail-item .carousel-indicators li.active img {
	width: 100%;
}
#carousel-detail-item .carousel-indicators li i,
#carousel-detail-item .carousel-indicators li.active i {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#carousel-detail-item .carousel-indicators li.active img {
	opacity: 0.6;
}
#carousel-detail-item .left.carousel-control {
	left: calc(8% + 15px);
}
.wrap-text .text-title {
	color: gray;
	font-weight: bold;
	margin-bottom: 15px;
}
.btn-main-red {
	padding: 10px 40px;
	border-radius: 25px;
	font-weight: bold;
	font-size: 16px;
	color: white;
	background-color: deepskyblue;
}
.x2 {
	font-size: 22px;
}
@media (max-width: 992px) {
	html,
	body {
		height: 100%;
	}
	#wrap-content {
		padding-top: 130px;
	}
	.item-content {
		margin-top: 50px;
	}
	body.overhide {
		height: 100%;
		overflow: hidden;
	}
	.wrap-menu-footer ul {
		padding-left: 15px;
	}
	.btn-nav-btn.show .menu-mob-icon span {
		background-color: transparent;
	}
	.btn-nav-btn.show .menu-mob-icon span:before {
		margin-top: 0;
		transform: rotate(45deg);
	}
	.btn-nav-btn.show .menu-mob-icon span:after {
		margin-top: 0;
		transform: rotate(-45deg);
	}
	.btn-nav-btn .menu-mob-icon {
		border: none;
		position: relative;
		right: 0;
		top: 0px;
		cursor: pointer;
		width: 35px;
		height: 35px;
		align-items: center;
		position: relative;
		z-index: 10000;
		background: unset;
		padding: 0px;
	}
	.btn-nav-btn .menu-mob-icon:focus,
	.btn-nav-btn .menu-mob-icon:active {
		outline: unset;
	}
	.btn-nav-btn .menu-mob-icon span {
		display: block;
		position: relative;
		width: 35px;
		height: 3px;
		background-color: #551b07;
		transition-property: background-color, transform;
		transition-duration: 300ms;
	}
	.btn-nav-btn .menu-mob-icon span:before,
	.btn-nav-btn .menu-mob-icon span:after {
		content: "";
		display: block;
		width: 35px;
		height: 3px;
		position: absolute;
		background: #551b07;
		transition-property: margin, transform;
		transition-duration: 300ms;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	.btn-nav-btn .menu-mob-icon span:before {
		margin-top: -10px;
	}
	.btn-nav-btn .menu-mob-icon span:after {
		margin-top: 10px;
	}
	.nav-menu-mobile {
		float: right;
		list-style: none;
		padding-left: 0px;
		margin-bottom: 0px;
		margin-right: 0px;
		margin-top: 15px;
	}
	.nav-menu-mobile li {
		display: inline-block;
		padding-right: 15px;
	}
	.nav-menu-mobile li a {
		color: #333;
		padding: 15px 2px;
		position: relative;
	}
	.nav-menu-mobile.pull-left li {
		padding-left: 0px;
		padding-right: 15px;
		margin-top: 8px;
	}
	#menu-nav-mob {
		width: 100%;
		position: fixed;
		top: 84px;
		left: 0;
		z-index: 10000;
		height: 0px;
		background-color: transparent;
		visibility: hidden;
		opacity: 0;
	}
	#menu-nav-mob:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.6), transparent);
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
	}
	#menu-nav-mob.active {
		visibility: visible;
		opacity: 1;
		height: calc(100% - 84px);
	}
	#menu-nav-mob.active .wrapper-menu-left {
		opacity: 1;
		transition-delay: 2s;
		transition: all 300ms ease-in-out;
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
	#menu-nav-mob .form {
		padding: 10px 15px;
		border-bottom: 1px solid #d5d5d5;
	}
	#menu-nav-mob .wrapper-menu-left {
		background-color: #fff;
		width: 100%;
		height: 100%;
		float: left;
		position: absolute;
		z-index: 10000;
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity: 0;
		transition-property: all;
		transition-duration: 300ms;
	}
	#menu-nav-mob .menu-one {
		padding-left: 0px;
		width: 100%;
	}
	#menu-nav-mob .menu-one li.li-one.active .menu-two {
		display: block;
	}
	#menu-nav-mob .menu-one li.li-one {
		line-height: 34px;
		padding-left: 15px;
		font-weight: 500;
		border-bottom: 1px solid #d5d5d5;
		border-left: 5px solid #000;
		background-color: #fbfbfb;
	}
	#menu-nav-mob .menu-one li.li-one.active {
		background-color: #fff;
	}
	#menu-nav-mob .menu-one li.li-one.active:after {
		width: 2px;
		height: 35px;
		content: "";
		position: absolute;
		background-color: #fff;
		right: -1px;
		margin-top: -35px;
	}
	#menu-nav-mob .menu-one li.li-one.active :hover {
		border-left: 5px solid #000;
	}
	#menu-nav-mob .menu-one li.li-one:hover {
		border-left: 5px solid #999;
	}
	#menu-nav-mob .menu-one li.li-one a {
		color: #333;
	}
	#menu-nav-mob .menu-two {
		position: absolute;
		right: -102%;
		padding-left: 15px;
		width: 100%;
		top: 0px;
		background-color: #fff;
		list-style: none;
		display: none;
	}
	.navbar-fixed-top {
		z-index: 99999;
	}
	.navbar-fixed-top .navbar {
		box-shadow: 0px 2px 10px rgba(204, 204, 204, 0.8);
	}
	.nav-menu-mobile li {
		position: relative;
	}
	.nav-menu-mobile li .int-cart {
		position: absolute;
		height: 100%;
		width: 100%;
	}
	.nav-menu-mobile li .int-cart span {
		margin-top: 9px;
		display: block;
	}
	.nav-menu-mobile li.search-icon-nav i {
		font-size: 26px;
	}
	.navbar-shop .navbar-brand {
		height: auto;
		padding: 15px 15px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}
@media (max-width: 768px) {
	.best_offer .wrapper {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: -7.5px;
		margin-left: -7.5px;
	}
	.best_offer .offer {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		padding-right: 7.5px;
		padding-left: 7.5px;
	}
	.best_offer .offer_carousel {
		padding-right: 15px;
		padding-left: 15px;
		margin-bottom: 15px;
	}
	#catalog-slider {
		margin-bottom: 15px;
	}
	.int-cart {
		top: 0px;
	}
	.wrap-menu-footer {
		margin-bottom: 30px;
	}
	.mt-xs-3 {
		margin-top: 3rem;
	}
	.nav-menu-mobile.pull-left li {
		padding-left: 15px;
		padding-right: 0px;
	}
	.navbar-fixed-top .navbar-header {
		box-shadow: 0px 2px 10px rgba(204, 204, 204, 0.8);
	}
	.navbar-header {
		padding-bottom: 15px;
	}
}
@media (max-width: 400px) {
	.navbar-brand > img {
		height: 45px;
	}
}

/*# sourceMappingURL=style.css.map */
